
<div style="text-align: center;">
	<h3>Grupos</h3>
	<div class="ui buttons">
		<back class="red">Voltar</back>
		<div class="or" data-text="ou"></div>
		<a ng-href="/grupos/cadastro" class="ui right labeled icon button">
			Cadastrar
			<i class="right plus icon"></i>
		</a>
	</div>
</div>

<message ng-if="message.length" text="{{ message }}" color="olive"></message>
<loader model="loading"></loader>

<table class="ui table celled" ng-if="grupos.length && !loading">
	<thead>
		<th>Líder</th>
		<th>Local de reunião</th>
		<th>#</th>
	</thead>
	<tr ng-repeat="m in grupos | filter: pesquisa : nomeLider">
		<td>
			<a ng-href="/membros/{{ m.idLider }}">{{ m.nomeLider }}</a>
		</td>
		<td>{{ m.localDeReuniao }}</td>
		<td>
			<a ng-href="/grupos/{{ m.id }}" class="ui icon button" title="Visualizar">
				<i class="search icon"></i>
			</a>
			<a href="/grupos/cadastro/{{ m.id }}" class="ui icon button" title="Editar">
				<i class="edit icon"></i>
			</a>
			<button class="ui icon button" ng-click="onDelete(m)" title="Excluir">
				<i class="trash icon"></i>
			</button>
		</td>
	</tr>
</table>
