<div style="text-align: center;">
	<h3>Membros</h3>
	<div class="ui buttons">
		<back class="red">Voltar</back>
		<div class="or" data-text="ou"></div>
		<a ng-href="/membros/cadastro" class="ui right labeled icon button">
			Cadastrar
			<i class="right plus icon"></i>
		</a>
	</div>
</div>

<form class="ui form" ng-submit="onSubmit($event)" style="margin-top: 2em;">
	<div class="field">
		<div class="ui massive fluid icon input" ng-class="{ 'loading': loading }">
			<input
				placeholder="Pesquisar nome.."
				autocomplete="off" autofocus
				type="search" ng-model="search">
			<i class="inverted circular link search icon"></i>
		</div>
	</div>
</form>

<message ng-if="message.length" text="{{ message }}" color="olive"></message>

<table class="ui table celled" ng-if="membros.length && !loading">
	<thead>
		<th>Nome</th>
		<th>Contato</th>
		<th>Líder</th>
		<th>#</th>
	</thead>
	<tr ng-repeat="m in membros">
		<td>{{ m.nome }}</td>
		<td>{{ m.contato }}</td>
		<td>
			<a ng-href="/membros/{{ m.idLider }}">{{ m.nomeLider }}</a>
		</td>
		<td>
			<a ng-href="/membros/{{ m.id }}" class="ui button">
				Visualizar
			</a>
			<a href="/membros/{{ m.id }}/cadastro" class="ui button">
				Editar
			</a>
			<button class="ui button" ng-click="onDelete(m.id)">
				Excluir
			</button>
		</td>
	</tr>
</table>
