<div class="ui cards">

	<a href="/ministerios" class="ui raised card">
		<div class="content">
			<div class="header">Ministérios</div>
			<div class="description">
				<i class="legal icon"></i>
			</div>
		</div>
	</a>

	<a href="/membros" class="ui raised card">
		<div class="content">
			<div class="header">Membros</div>
			<div class="description">
				<i class="user icon"></i>
			</div>
		</div>
	</a>

	<a href="/grupos" class="ui raised card">
		<div class="content">
			<div class="header">Grupos</div>
			<div class="description">
				<i class="users icon"></i>
			</div>
		</div>
	</a>
</div>
