<div style="text-align: center;">
	<h3>Ministérios</h3>
	<div class="ui buttons">
		<back class="red">Voltar</back>
		<div class="or" data-text="ou"></div>
		<a ng-href="/ministerios/cadastro" class="ui right labeled icon button">
			Cadastrar
			<i class="right plus icon"></i>
		</a>
	</div>
</div>

<div class="sixteen wide column" style="margin-top: 2em;">
	<filter ng-model="pesquisa" placeholder="Pesquisar ministério.."></filter>
</div>

<message ng-if="message.length" text="{{ message }}" color="olive"></message>
<loader model="loading"></loader>

<table class="ui table celled" ng-if="ministerios.length && !loading">
	<thead>
		<th>Ministério</th>
		<th>Líder</th>
		<th>Feira</th>
		<th>#</th>
	</thead>
	<tr ng-repeat="m in ministerios | filtro: pesquisa : 'nome'">
		<td>{{ m.nome | uppercase }}</td>
		<td>
			<a ng-href="/membros/{{ m.idLider }}">{{ m.nomeLider | uppercase }}</a>
		</td>
		<td>
			<a href="/ministerios/{{ m.id }}/feira" class="ui button">
				Feira de ministérios
			</a>
			<a href="/ministerios/{{ m.id }}/gerencia" class="ui icon button" title="Gerenciar">
				<i class="configure icon"></i>
			</a>
		</td>
		<td>
			<a ng-href="/ministerios/{{ m.id }}" class="ui icon button" title="Visualizar">
				<i class="search icon"></i>
			</a>
			<a href="/ministerios/cadastro/{{ m.id }}" class="ui icon button" title="Editar">
				<i class="edit icon"></i>
			</a>
			<button class="ui icon button" ng-click="onDelete(m)" title="Excluir">
				<i class="trash icon"></i>
			</button>
		</td>
	</tr>
</table>
