<!DOCTYPE html>
<base href="/">
<html lang="pt" ng-app="nibgc">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Nibgc</title>

	<link rel="stylesheet" href="vendor/semantic.min.css">

	<script src="vendor/jquery.min.js" charset="utf-8"></script>
	<script src="vendor/semantic.min.js" charset="utf-8"></script>
	<script src="vendor/sweetalert.min.js" charset="utf-8"></script>

	<script src="angular/angular.min.js" charset="utf-8"></script>
	<script src="angular/angular-route.min.js" charset="utf-8"></script>

	<script src="angular/config/config.js" charset="utf-8"></script>
	<script src="angular/controller/dashboard.js" charset="utf-8"></script>
</head>
<body>
	<div class="ui icon compact fixed inverted red menu">
		<div class="ui fluid container">
			<a ng-href="#" class="header item">
				Nibgc
			</a>

			<div class="right menu">
				<a class="item" ng-href="/logout">Logout</a>
			</div>
		</div>
	</div>
	<div class="ui container" style="padding-top: 5em;">
		<ng-view></ng-view>
	</div>
</body>
</html>
